@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 86 33% 96%;
      --foreground: 93 31% 19%;

      --card: 86 33% 96%;
      --card-foreground: 93 31% 19%;

      --popover: 86 33% 96%;
      --popover-foreground: 93 31% 19%;

      --primary: 93 31% 19%;
      --primary-foreground:93 31% 19%;

      --secondary: 85 33% 57%;
      --secondary-foreground: 93 31% 19%;

      --muted: 0 0% 96.1%;
      --muted-foreground: 93 31% 19%;

      --accent: 85 51% 80%;
      --accent-foreground: 93 31% 19%;

      --destructive: 0 100% 70%;
      --destructive-foreground: 93 31% 19%;

      --border: 0 0% 89.8%;
      --input: 0 0% 89.8%;
      --ring: 0 0% 3.9%;

      --radius: 0.5rem;
    }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }
}